@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-image: url("../assets/Background.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0000008a;
  opacity: 0.8;
}
main {
  width: 80%;
  height: 75%;
  border-radius: 7px;
  background-color: #26294379;
  backdrop-filter: blur(8px);
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  column-gap: 20px;
}
main .left,
main .right {
  width: 50%;
  height: 100%;
  color: #ffffff;
}

.left img {
  width: 20%;
}
.left h1 {
  font-size: 2.7rem;
  font-weight: 600;
}
.left p {
  font-size: 1.8rem;
}
.left a {
  font-size: 1.5rem;
  background-color: #e5b300;
  margin-top: 20px;
  padding: 0 10px;
}
main .right {
  width: 35%;
  background-color: #27283c80;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 15px;
  width: 100%;
  height: 100%;
}
form h1 {
  font-size: 2rem;
  font-weight: 600;
}
.toggle {
  border: 2px solid #e5b300;
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.toggle button {
  width: 50%;
  border-radius: 0;
  border: none;
}
.active {
  background-color: #e5b300;
  color: #ffffff;
}
.inputfields {
  width: 95%;
  row-gap: 10px;
  display: flex;
  flex-direction: column;
}
.inputfields div {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.inputfields label {
  font-size: 0.9rem;
}
form .forgotpass {
  position: absolute;
  bottom: 18%;
  right: 15%;
  font-size: 0.8rem;
}
form .forgotpass:hover {
  text-decoration: underline;
  cursor: pointer;
}
.login {
  position: relative;
  top: 15px;
  padding: 5px 25px;
  text-decoration: none;
  border: 2px solid #e5b300;
  font-weight: 500;
  font-size: 0.8rem;
  transition: all 0.35s ease;
  z-index: 2;
  cursor: pointer;
}
.login {
  color: #ffffff;
}
.login::before {
  transition: all 0.35s ease;
  content: "";
  width: 100%;
  height: 100%;
  background: #e5b300;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.login:hover::before {
  background: #e5b300;
  z-index: -1;
  height: 0%;
}
.login:hover {
  color: #000000;
}
